In [55]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from collections import Counter
import gender_guesser.detector as gender
gender_retrieve = gender.Detector()

In [56]:
all_osha = pd.read_csv('all_OSHA_merged.csv', usecols=['PRINCIPAL','activity_nr', 'open_year','DUNSNO','news_year','5km_ind','press_release_link','estabid_osha','YEAR','current_penalty','latitude','longitude'])

/var/folders/9w/tclhpsfs7977jnzvj9989k240000gn/T/ipykernel_30274/1219557461.py:1: DtypeWarning: Columns (22) have mixed types. Specify dtype option on import or set low_memory=False.
  all_osha = pd.read_csv('all_OSHA_merged.csv', usecols=['PRINCIPAL','activity_nr', 'open_year','DUNSNO','news_year','5km_ind','press_release_link','estabid_osha','YEAR','current_penalty','latitude','longitude'])

In [57]:
all_OSHA_geo = pd.read_csv('OSHA_cases_distant_to_news.csv')

In [58]:
all_osha

,activity_nr,current_penalty,press_release_link,YEAR,DUNSNO,PRINCIPAL,estabid_osha,latitude,longitude,open_year,news_year,5km_ind
0,2350544,1800.0,NaN,2004,94365780,HENRY EISENHAUER,464480.0,43.433510,-88.160652,2011,2012,0
1,2350544,1800.0,NaN,2005,94365780,HENRY EISENHAUER,464480.0,43.433510,-88.160652,2011,2012,0
2,2350544,1800.0,NaN,2006,94365780,HENRY EISENHAUER,464480.0,43.433510,-88.160652,2011,2012,0
3,2350544,1800.0,NaN,2007,94365780,HENRY EISENHAUER,464480.0,43.433510,-88.160652,2011,2012,0
4,2350544,1800.0,NaN,2008,94365780,HENRY EISENHAUER,464480.0,43.433510,-88.160652,2011,2012,0
...,...,...,...,...,...,...,...,...,...,...,...,...
6070562,312779002,NaN,https://www.osha.gov/pls/oshaweb/owadisp.show_...,2013,786891960,DAVID FELLFELI,100226.0,32.331139,-84.523811,2010,2010,1
6070563,312779002,NaN,https://www.osha.gov/pls/oshaweb/owadisp.show_...,2014,786891960,DAVID FELLFELI,100226.0,32.331139,-84.523811,2010,2010,1
6070564,312779002,NaN,https://www.osha.gov/pls/oshaweb/owadisp.show_...,2015,786891960,DAVID FELLFELI,100226.0,32.331139,-84.523811,2010,2010,1
6070565,312779002,NaN,https://www.osha.gov/pls/oshaweb/owadisp.show_...,2016,786891960,DAVID FELLFELI,100226.0,32.331139,-84.523811,2010,2010,1
6070566,312779002,NaN,https://www.osha.gov/pls/oshaweb/owadisp.show_...,2017,786891960,DAVID FELLFELI,100226.0,32.331140,-84.523810,2010,2010,1

In [59]:
name_to_race = pd.read_csv('names_with_race_junru.csv', usecols=['PRINCIPAL','race'])
name_to_race

               PRINCIPAL      race
0               1615 LLP     white
1           A A EMMERSON       api
2         A ANANTHARAMAN       api
3            A B MAINARD       api
4               A BERGER     white
...                  ...       ...
34371          ZOLT RUMY     white
34372       ZOOANN JARAD       api
34373    ZORAN KEREZOVIC     white
34374   ZULEICA QUIMONES  hispanic
34375  ZYGUNT BLAJSZCZAK     white

[34376 rows x 2 columns]

In [60]:
all_osha['First Name'] = all_osha['PRINCIPAL'].apply(lambda x: x.split()[0] if pd.notnull(x) else x)
all_osha['First Name'] = [i.capitalize() for i in all_osha['First Name']]
all_osha['Last Name'] = all_osha['PRINCIPAL'].apply(lambda x: x.split()[1] if pd.notnull(x) and len(x.split()) > 1 else None)
all_osha['Gender'] = [gender_retrieve.get_gender(i) for i in all_osha['First Name']]
all_osha

,activity_nr,current_penalty,press_release_link,YEAR,DUNSNO,PRINCIPAL,estabid_osha,latitude,longitude,open_year,news_year,5km_ind,First Name,Last Name,Gender
0,2350544,1800.0,NaN,2004,94365780,HENRY EISENHAUER,464480.0,43.433510,-88.160652,2011,2012,0,Henry,EISENHAUER,male
1,2350544,1800.0,NaN,2005,94365780,HENRY EISENHAUER,464480.0,43.433510,-88.160652,2011,2012,0,Henry,EISENHAUER,male
2,2350544,1800.0,NaN,2006,94365780,HENRY EISENHAUER,464480.0,43.433510,-88.160652,2011,2012,0,Henry,EISENHAUER,male
3,2350544,1800.0,NaN,2007,94365780,HENRY EISENHAUER,464480.0,43.433510,-88.160652,2011,2012,0,Henry,EISENHAUER,male
4,2350544,1800.0,NaN,2008,94365780,HENRY EISENHAUER,464480.0,43.433510,-88.160652,2011,2012,0,Henry,EISENHAUER,male
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6070562,312779002,NaN,https://www.osha.gov/pls/oshaweb/owadisp.show_...,2013,786891960,DAVID FELLFELI,100226.0,32.331139,-84.523811,2010,2010,1,David,FELLFELI,male
6070563,312779002,NaN,https://www.osha.gov/pls/oshaweb/owadisp.show_...,2014,786891960,DAVID FELLFELI,100226.0,32.331139,-84.523811,2010,2010,1,David,FELLFELI,male
6070564,312779002,NaN,https://www.osha.gov/pls/oshaweb/owadisp.show_...,2015,786891960,DAVID FELLFELI,100226.0,32.331139,-84.523811,2010,2010,1,David,FELLFELI,male
6070565,312779002,NaN,https://www.osha.gov/pls/oshaweb/owadisp.show_...,2016,786891960,DAVID FELLFELI,100226.0,32.331139,-84.523811,2010,2010,1,David,FELLFELI,male
6070566,312779002,NaN,https://www.osha.gov/pls/oshaweb/owadisp.show_...,2017,786891960,DAVID FELLFELI,100226.0,32.331140,-84.523810,2010,2010,1,David,FELLFELI,male

In [61]:
all_osha = pd.merge(all_osha, name_to_race, how='left', left_on='PRINCIPAL', right_on='PRINCIPAL')
all_osha

,activity_nr,current_penalty,press_release_link,YEAR,DUNSNO,PRINCIPAL,estabid_osha,latitude,longitude,open_year,news_year,5km_ind,First Name,Last Name,Gender,race
0,2350544,1800.0,NaN,2004,94365780,HENRY EISENHAUER,464480.0,43.433510,-88.160652,2011,2012,0,Henry,EISENHAUER,male,white
1,2350544,1800.0,NaN,2005,94365780,HENRY EISENHAUER,464480.0,43.433510,-88.160652,2011,2012,0,Henry,EISENHAUER,male,white
2,2350544,1800.0,NaN,2006,94365780,HENRY EISENHAUER,464480.0,43.433510,-88.160652,2011,2012,0,Henry,EISENHAUER,male,white
3,2350544,1800.0,NaN,2007,94365780,HENRY EISENHAUER,464480.0,43.433510,-88.160652,2011,2012,0,Henry,EISENHAUER,male,white
4,2350544,1800.0,NaN,2008,94365780,HENRY EISENHAUER,464480.0,43.433510,-88.160652,2011,2012,0,Henry,EISENHAUER,male,white
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6070562,312779002,NaN,https://www.osha.gov/pls/oshaweb/owadisp.show_...,2013,786891960,DAVID FELLFELI,100226.0,32.331139,-84.523811,2010,2010,1,David,FELLFELI,male,white
6070563,312779002,NaN,https://www.osha.gov/pls/oshaweb/owadisp.show_...,2014,786891960,DAVID FELLFELI,100226.0,32.331139,-84.523811,2010,2010,1,David,FELLFELI,male,white
6070564,312779002,NaN,https://www.osha.gov/pls/oshaweb/owadisp.show_...,2015,786891960,DAVID FELLFELI,100226.0,32.331139,-84.523811,2010,2010,1,David,FELLFELI,male,white
6070565,312779002,NaN,https://www.osha.gov/pls/oshaweb/owadisp.show_...,2016,786891960,DAVID FELLFELI,100226.0,32.331139,-84.523811,2010,2010,1,David,FELLFELI,male,white
6070566,312779002,NaN,https://www.osha.gov/pls/oshaweb/owadisp.show_...,2017,786891960,DAVID FELLFELI,100226.0,32.331140,-84.523810,2010,2010,1,David,FELLFELI,male,white

In [62]:
all_osha_groupby_len = len(all_osha.groupby(['activity_nr', 'DUNSNO']).count())

In [63]:
dict_news = {}
counter = 0
for i in range(-7,8):
    dict_news['CEO_change_'+str(i)] = []
    dict_news['penalty_amount_'+str(i)] = []
    dict_news['news_' + str(i)] = []
    dict_news['gender_' + str(i)] = []
    dict_news['race_' + str(i)] = []
for name, group in all_osha.groupby(['activity_nr', 'DUNSNO']):
    #put counter
    try:
        if np.isnan(group['press_release_link'].iloc[0]):
            group['current_penalty'] = group['current_penalty'].fillna(0)
            for i in range(-7,8):
                try:
                    if group[group['YEAR'] == group['open_year'].iloc[0] + i]['PRINCIPAL'].iloc[0] != group[group['YEAR'] == group['open_year'].iloc[0]]['PRINCIPAL'].iloc[0]:
                        dict_news['CEO_change_'+str(i)].append(1)
                    else: 
                        dict_news['CEO_change_'+str(i)].append(0)
                    dict_news['news_'+str(i)].append(0)
                    dict_news['penalty_amount_'+str(i)].append(group['current_penalty'].iloc[0])
                    dict_news['gender_' + str(i)].append(group['Gender'].iloc[0])
                    dict_news['race_' + str(i)].append(group['race'].iloc[0])
                except IndexError:
                    pass
    except TypeError:
        group['current_penalty'] = group['current_penalty'].fillna(0)
        for i in range(-7,8):
            try:
                if group[group['YEAR'] == group['open_year'].iloc[0] + i]['PRINCIPAL'].iloc[0] != group[group['YEAR'] == group['open_year'].iloc[0]]['PRINCIPAL'].iloc[0]:
                    dict_news['CEO_change_'+str(i)].append(1)
                else: 
                    dict_news['CEO_change_'+str(i)].append(0)
                dict_news['news_'+str(i)].append(1)
                dict_news['penalty_amount_'+str(i)].append(group['current_penalty'].iloc[0])
                dict_news['gender_' + str(i)].append(group['Gender'].iloc[0])
                dict_news['race_' + str(i)].append(group['race'].iloc[0])
            except IndexError:
                pass
    counter +=1
    if (counter % 5000) == 0:
        print(str((counter*100)/all_osha_groupby_len) + '% completed')

5.149436651630312% completed
10.298873303260624% completed
15.448309954890934% completed
20.59774660652125% completed
25.74718325815156% completed
30.89661990978187% completed
36.04605656141218% completed
41.1954932130425% completed
46.34492986467281% completed
51.49436651630312% completed
56.64380316793343% completed
61.79323981956374% completed
66.94267647119405% completed
72.09211312282436% completed
77.24154977445467% completed
82.390986426085% completed
87.5404230777153% completed
92.68985972934561% completed
97.83929638097592% completed

In [64]:
news_data_dict = {}
for i in range(-7,8):
    news_data_dict['news_data_year_'+str(i)] = pd.DataFrame({'news': dict_news['news_'+str(i)], 'change_CEO': dict_news['CEO_change_'+str(i)], 
                                                             'penalty': dict_news['penalty_amount_'+str(i)], 'gender': dict_news['gender_'+str(i)],'race': dict_news['race_'+str(i)]})

In [89]:
for i in range(-7,8):
    news_data_dict['news_data_year_'+str(i)].to_csv('CEO_Overturn_News_'+str(i)+'_Year_After_Violation.csv (G+R)')

In [66]:
dict_dist_news = {(all_OSHA_geo['latitude'][i], all_OSHA_geo['longitude'][i]): all_OSHA_geo['dist_news'][i] for i in range(len(all_OSHA_geo['dist_news']))}
dict_dist_news_year = {(all_OSHA_geo['latitude'][i], all_OSHA_geo['longitude'][i]): all_OSHA_geo['news_year'][i] for i in range(len(all_OSHA_geo['news_year']))}

In [67]:
all_osha['dist_news'] = all_osha.apply(lambda x: dict_dist_news[(x['latitude'], x['longitude'])], axis = 1)
all_osha['news_year'] = all_osha.apply(lambda x: dict_dist_news_year[(x['latitude'], x['longitude'])], axis = 1)

In [68]:
all_osha['5km_ind'] = np.where(all_osha['dist_news'] <= 5, 1, 0)

In [69]:
dict_dist = {}
counter2 = 0
for i in range(-7,8):
    dict_dist['CEO_change_'+str(i)] = []
    dict_dist['penalty_amount_'+str(i)] = []
    dict_dist['dist_'+str(i)] = []
    dict_dist['dist_ind_'+str(i)] = []
    dict_dist['year_'+str(i)] = []
    dict_dist['act_num_'+str(i)] = []
    dict_dist['OSHA_ID_'+str(i)] = []
    dict_dist['DUNS_'+str(i)] = []
    dict_dist['gender_' + str(i)] = []
    dict_dist['race_' + str(i)] = []
dict_CEO_change = {}
for i in range(-6,8):
    dict_CEO_change['change_in_year_'+str(i)] = []
dict_CEO_change['dist_ind'] = []
dict_CEO_change['act_num'] = []
dict_CEO_change['OSHA_ID'] = []
dict_CEO_change['DUNS'] = []
dict_CEO_change['gender'] = []
dict_CEO_change['race'] = []

for name, group in all_osha.groupby(['activity_nr', 'DUNSNO']):
    #put counter
    dict_CEO_change['OSHA_ID'].append(group['estabid_osha'].iloc[0])
    dict_CEO_change['act_num'].append(name[0])
    dict_CEO_change['DUNS'].append(name[1])
    dict_CEO_change['gender'].append(group['Gender'].iloc[0])
    dict_CEO_change['race'].append(group['race'].iloc[0])
    if group['5km_ind'].iloc[0] == 0 or group['YEAR'].iloc[0]:
        group['current_penalty'] = group['current_penalty'].fillna(0)
        dict_CEO_change['dist_ind'].append(0)
        for i in range(-7,8):
            try:
                if group[group['YEAR'] == group['open_year'].iloc[0] + i]['PRINCIPAL'].iloc[0] != group[group['YEAR'] == group['open_year'].iloc[0]]['PRINCIPAL'].iloc[0]:
                    dict_dist['CEO_change_'+str(i)].append(1)
                else: 
                    dict_dist['CEO_change_'+str(i)].append(0)
                dict_dist['dist_ind_'+str(i)].append(0)
                dict_dist['penalty_amount_'+str(i)].append(group['current_penalty'].iloc[0])
                dict_dist['dist_'+str(i)].append(group['dist_news'].iloc[0])
                dict_dist['year_'+str(i)].append(group['open_year'].iloc[0]+i)
                dict_dist['OSHA_ID_'+str(i)].append(group['estabid_osha'].iloc[0])
                dict_dist['act_num_'+str(i)].append(name[0])
                dict_dist['DUNS_'+str(i)].append(name[1])
                dict_dist['gender_' + str(i)].append(group['Gender'].iloc[0])
                dict_dist['race_' + str(i)].append(group['race'].iloc[0])
            except IndexError:
                pass
            if i>-7:
                try:
                    if group[group['YEAR'] == group['open_year'].iloc[0] + i]['PRINCIPAL'].iloc[0] != group[group['YEAR'] == group['open_year'].iloc[0] + i-1]['PRINCIPAL'].iloc[0]:
                        dict_CEO_change['change_in_year_'+str(i)].append(1)
                    else:
                        dict_CEO_change['change_in_year_'+str(i)].append(0)
                except IndexError:
                    dict_CEO_change['change_in_year_'+str(i)].append(np.nan)

    else:
        group['current_penalty'] = group['current_penalty'].fillna(0)
        dict_CEO_change['dist_ind'].append(1)
        for i in range(-7,8):
            try:
                if group[group['YEAR'] == group['open_year'].iloc[0] + i]['PRINCIPAL'].iloc[0] != group[group['YEAR'] == group['open_year'].iloc[0]]['PRINCIPAL'].iloc[0]:
                    dict_dist['CEO_change_'+str(i)].append(1)
                else: 
                    dict_dist['CEO_change_'+str(i)].append(0)
                dict_dist['dist_ind_'+str(i)].append(1)
                dict_dist['penalty_amount_'+str(i)].append(group['current_penalty'].iloc[0])
                dict_dist['dist_'+str(i)].append(group['dist_news'].iloc[0])
                dict_dist['year_'+str(i)].append(group['YEAR'].iloc[0])
                dict_dist['OSHA_ID_'+str(i)].append(group['estabid_osha'].iloc[0])
                dict_dist['act_num_'+str(i)].append(name[0])
                dict_dist['DUNS_'+str(i)].append(name[1])
                dict_dist['gender_'+str(i)].append(group['Gender'].iloc[0])
                dict_dist['race_'+str(i)].append(group['race'].iloc[0])
            except IndexError:
                pass
            if i>-7:
                try:
                    if group[group['YEAR'] == group['open_year'].iloc[0] + i]['PRINCIPAL'].iloc[0] != group[group['YEAR'] == group['open_year'].iloc[0] + i-1]['PRINCIPAL'].iloc[0]:
                        dict_CEO_change['change_in_year_'+str(i)].append(1)
                    else:
                        dict_CEO_change['change_in_year_'+str(i)].append(0)
                except IndexError:
                    dict_CEO_change['change_in_year_'+str(i)].append(np.nan)
    counter2 +=1
    if (counter2 % 5000) == 0:
        print(str((counter2*100)/all_osha_groupby_len) + '% completed')

5.149436651630312% completed
10.298873303260624% completed
15.448309954890934% completed
20.59774660652125% completed
25.74718325815156% completed
30.89661990978187% completed
36.04605656141218% completed
41.1954932130425% completed
46.34492986467281% completed
51.49436651630312% completed
56.64380316793343% completed
61.79323981956374% completed
66.94267647119405% completed
72.09211312282436% completed
77.24154977445467% completed
82.390986426085% completed
87.5404230777153% completed
92.68985972934561% completed
97.83929638097592% completed

In [70]:
dist_data_dict = {}
for i in range(-7,8):
    dist_data_dict['dist_data_year_'+str(i)] = pd.DataFrame({'dist_ind': dict_dist['dist_ind_'+str(i)],
                                                             'dist':dict_dist['dist_'+str(i)], 'change_CEO': dict_dist['CEO_change_'+str(i)],
                                                             'penalty': dict_dist['penalty_amount_'+str(i)],
                                                             'YEAR': dict_dist['year_'+str(i)], 'activity_nr': dict_dist['act_num_'+str(i)], 
                                                             'DUNSNO': dict_dist['DUNS_'+str(i)], 'estabid_osha': dict_dist['OSHA_ID_'+str(i)],
                                                            'gender': dict_dist['gender_' + str(i)],'race':dict_dist['race_' + str(i)]})

In [90]:
for i in range(-7,8):
    dist_data_dict['dist_data_year_'+str(i)].to_csv('CEO_Overturn_Processed_'+str(i)+'_Year_After_Violation.csv (G+R)', index = False)

In [72]:
CEO_change_by_year_data = pd.DataFrame({'dist_ind':dict_CEO_change['dist_ind'], 'activity_nr': dict_CEO_change['act_num'],
                                       'estabid_osha': dict_CEO_change['OSHA_ID'], 'DUNSNO': dict_CEO_change['DUNS'], 'gender':dict_CEO_change['gender'],'race':dict_CEO_change['race']})

for i in range(-6,8):
    CEO_change_by_year_data['changed_year_'+str(i)] = dict_CEO_change['change_in_year_'+str(i)]
#CEO_change_by_year_data.to_csv('smallbis_processed_data/CEO_overturn_by_year.csv', index = False)

In [73]:
CEO_change_by_year_data_merged = pd.merge(CEO_change_by_year_data, all_osha[all_osha['YEAR'] == all_osha['open_year']], left_on = ['activity_nr', 'DUNSNO'], right_on = ['activity_nr', 'DUNSNO'], how = 'inner')
#CEO_change_by_year_data_merged.to_csv('smallbis_processed_data/CEO_overturn_by_year_merged.csv', index = False)

In [75]:
#all_OSHA.to_csv('smallbis_processed_data/all_OSHA_merged.csv', index = False)

NameError: name 'all_OSHA' is not defined

In [87]:
CEO_change_by_year_data_merged.to_csv('CEO change by year data merged (G+R)')

In [88]:
CEO_change_by_year_data.to_csv('CEO change by year data (G+R)')

In [81]:
dist_data_dict

{'dist_data_year_-7':        dist_ind        dist  change_CEO  penalty  YEAR  activity_nr  \
 0             0   25.691161           0   1800.0  2004      2350544
 1             0   32.042436           0    500.0  1998    100784792
 2             0    9.352584           1      0.0  1998    108786021
 3             0    3.682925           0      0.0  1998    108786039
 4             0    4.695305           1      0.0  1998    108786088
 ...         ...         ...         ...      ...   ...          ...
 57613         0   55.109708           0      0.0  2009    342022332
 57614         0  164.290629           0      0.0  2009    342022340
 57615         0    5.020282           0      0.0  2009    342022373
 57616         0  192.651733           0      0.0  2009    342029931
 57617         0    9.622513           0   9959.0  2009    342062387

           DUNSNO  estabid_osha   gender   race
 0       94365780      464480.0     male  white
 1       48195150     1084949.0     male    NaN
 2       79223954     2833068.0     male    NaN
 3      790546139      127660.0     male    NaN
 4      137669669      915452.0     male  white
 ...          ...           ...      ...    ...
 57613  176601698     5365423.0  unknown  white
 57614  150052249     5365424.0     male    NaN
 57615  118744267     5365427.0     male  white
 57616   27940746     5365481.0     male    NaN
 57617    5809868     5365591.0   female    NaN

 [57618 rows x 10 columns],
 'dist_data_year_-6':        dist_ind        dist  change_CEO  penalty  YEAR  activity_nr  \
 0             0   25.691161           0   1800.0  2005      2350544
 1             0    2.242754           1      0.0  2002     34105999
 2             0   32.042436           0    500.0  1999    100784792
 3             0    4.304984           1      0.0  2000    106050800
 4             0   13.730363           0      0.0  1998    108785486
 ...         ...         ...         ...      ...   ...          ...
 62544         0   55.109708           0      0.0  2010    342022332
 62545         0  164.290629           0      0.0  2010    342022340
 62546         0    5.020282           0      0.0  2010    342022373
 62547         0  192.651733           0      0.0  2010    342029931
 62548         0    9.622513           0   9959.0  2010    342062387

           DUNSNO  estabid_osha   gender   race
 0       94365780      464480.0     male  white
 1       11170755      844763.0     andy    NaN
 2       48195150     1084949.0     male    NaN
 3      128204810      861383.0     male  white
 4       65780678      969231.0     male    NaN
 ...          ...           ...      ...    ...
 62544  176601698     5365423.0  unknown  white
 62545  150052249     5365424.0     male    NaN
 62546  118744267     5365427.0     male  white
 62547   27940746     5365481.0     male    NaN
 62548    5809868     5365591.0   female    NaN

 [62549 rows x 10 columns],
 'dist_data_year_-5':        dist_ind        dist  change_CEO  penalty  YEAR  activity_nr  \
 0             0   25.691161           0   1800.0  2006      2350544
 1             0    6.119899           1    735.0  1998     18182154
 2             0   32.042436           0    500.0  2000    100784792
 3             0   38.419970           1    437.5  1998    102764313
 4             0    4.304984           1      0.0  2001    106050800
 ...         ...         ...         ...      ...   ...          ...
 67839         0   55.109708           0      0.0  2011    342022332
 67840         0  164.290629           0      0.0  2011    342022340
 67841         0    5.020282           0      0.0  2011    342022373
 67842         0  192.651733           0      0.0  2011    342029931
 67843         0    9.622513           0   9959.0  2011    342062387

           DUNSNO  estabid_osha   gender   race
 0       94365780      464480.0     male  white
 1      832609960      622531.0     male  white
 2       48195150     1084949.0     male    NaN
 3       76518836      476194.0     male  white
 4      128204810      861383.0     male  white
 ...          ...           ...      ...    ...
 67839  176601698     5365423.0  unknown  white
 67840  150052249     5365424.0     male    NaN
 67841  118744267     5365427.0     male  white
 67842   27940746     5365481.0     male    NaN
 67843    5809868     5365591.0   female    NaN

 [67844 rows x 10 columns],
 'dist_data_year_-4':        dist_ind        dist  change_CEO  penalty  YEAR  activity_nr  \
 0             0   25.691161           0   1800.0  2007      2350544
 1             0    5.871519           0    100.0  1998     18008417
 2             0    4.505510           0    500.0  1998     18052639
 3             0   32.343703           1    522.5  1998     18174953
 4             0    6.119899           1    735.0  1999     18182154
 ...         ...         ...         ...      ...   ...          ...
 73066         0   55.109708           0      0.0  2012    342022332
 73067         0  164.290629           0      0.0  2012    342022340
 73068         0    5.020282           0      0.0  2012    342022373
 73069         0  192.651733           0      0.0  2012    342029931
 73070         0    9.622513           0   9959.0  2012    342062387

           DUNSNO  estabid_osha   gender   race
 0       94365780      464480.0     male  white
 1       12828989     1092818.0     male  white
 2       61344529      863645.0     male    NaN
 3      883620213      908895.0     male  white
 4      832609960      622531.0     male  white
 ...          ...           ...      ...    ...
 73066  176601698     5365423.0  unknown  white
 73067  150052249     5365424.0     male    NaN
 73068  118744267     5365427.0     male  white
 73069   27940746     5365481.0     male    NaN
 73070    5809868     5365591.0   female    NaN

 [73071 rows x 10 columns],
 'dist_data_year_-3':        dist_ind        dist  change_CEO  penalty  YEAR  activity_nr  \
 0             0   25.691161           0   1800.0  2008      2350544
 1             0    5.871519           0    100.0  1999     18008417
 2             0    8.658257           0   1000.0  1998     18051631
 3             0    5.495938           1   2000.0  1998     18052449
 4             0    3.372752           0   2000.0  1998     18052464
 ...         ...         ...         ...      ...   ...          ...
 78250         0   55.109708           0      0.0  2013    342022332
 78251         0  164.290629           0      0.0  2013    342022340
 78252         0    5.020282           0      0.0  2013    342022373
 78253         0  192.651733           0      0.0  2013    342029931
 78254         0    9.622513           0   9959.0  2013    342062387

           DUNSNO  estabid_osha       gender   race
 0       94365780      464480.0         male  white
 1       12828989     1092818.0         male  white
 2       16454860     1031096.0         male    NaN
 3      964454631      413547.0  mostly_male    api
 4      809890361      347198.0  mostly_male    NaN
 ...          ...           ...          ...    ...
 78250  176601698     5365423.0      unknown  white
 78251  150052249     5365424.0         male    NaN
 78252  118744267     5365427.0         male  white
 78253   27940746     5365481.0         male    NaN
 78254    5809868     5365591.0       female    NaN

 [78255 rows x 10 columns],
 'dist_data_year_-2':        dist_ind        dist  change_CEO  penalty  YEAR  activity_nr  \
 0             0   25.691161           0   1800.0  2009      2350544
 1             0    4.957644           0      0.0  1998     17934944
 2             0    4.957644           0      0.0  1998     17934944
 3             0    2.128975           1      0.0  1998     17934985
 4             0    6.118079           0      0.0  1998     17935404
 ...         ...         ...         ...      ...   ...          ...
 84023         0   55.109708           0      0.0  2014    342022332
 84024         0  164.290629           0      0.0  2014    342022340
 84025         0    5.020282           0      0.0  2014    342022373
 84026         0  192.651733           0      0.0  2014    342029931
 84027         0    9.622513           0   9959.0  2014    342062387

           DUNSNO  estabid_osha   gender   race
 0       94365780      464480.0     male  white
 1        2241669     1002814.0     male    NaN
 2      119235109     1002814.0     male    NaN
 3      618523153     3548411.0     male    NaN
 4      199299512     4967616.0     male    NaN
 ...          ...           ...      ...    ...
 84023  176601698     5365423.0  unknown  white
 84024  150052249     5365424.0     male    NaN
 84025  118744267     5365427.0     male  white
 84026   27940746     5365481.0     male    NaN
 84027    5809868     5365591.0   female    NaN

 [84028 rows x 10 columns],
 'dist_data_year_-1':        dist_ind        dist  change_CEO  penalty  YEAR  activity_nr  \
 0             0   25.691161           0   1800.0  2010      2350544
 1             0    4.957644           0      0.0  1999     17934944
 2             0    4.957644           0      0.0  1999     17934944
 3             0    2.128975           0      0.0  1999     17934985
 4             0    6.118079           0      0.0  1999     17935404
 ...         ...         ...         ...      ...   ...          ...
 89113         0   55.109708           0      0.0  2015    342022332
 89114         0  164.290629           0      0.0  2015    342022340
 89115         0    5.020282           0      0.0  2015    342022373
 89116         0  192.651733           0      0.0  2015    342029931
 89117         0    9.622513           0   9959.0  2015    342062387

           DUNSNO  estabid_osha   gender   race
 0       94365780      464480.0     male  white
 1        2241669     1002814.0     male    NaN
 2      119235109     1002814.0     male    NaN
 3      618523153     3548411.0     male    NaN
 4      199299512     4967616.0     male    NaN
 ...          ...           ...      ...    ...
 89113  176601698     5365423.0  unknown  white
 89114  150052249     5365424.0     male    NaN
 89115  118744267     5365427.0     male  white
 89116   27940746     5365481.0     male    NaN
 89117    5809868     5365591.0   female    NaN

 [89118 rows x 10 columns],
 'dist_data_year_0':        dist_ind        dist  change_CEO  penalty  YEAR  activity_nr  \
 0             0   25.691161           0   1800.0  2011      2350544
 1             0    4.957644           0      0.0  2000     17934944
 2             0    4.957644           0      0.0  2000     17934944
 3             0    2.128975           0      0.0  2000     17934985
 4             0    6.118079           0      0.0  2000     17935404
 ...         ...         ...         ...      ...   ...          ...
 94105         0   55.109708           0      0.0  2016    342022332
 94106         0  164.290629           0      0.0  2016    342022340
 94107         0    5.020282           0      0.0  2016    342022373
 94108         0  192.651733           0      0.0  2016    342029931
 94109         0    9.622513           0   9959.0  2016    342062387

           DUNSNO  estabid_osha   gender   race
 0       94365780      464480.0     male  white
 1        2241669     1002814.0     male    NaN
 2      119235109     1002814.0     male    NaN
 3      618523153     3548411.0     male    NaN
 4      199299512     4967616.0     male    NaN
 ...          ...           ...      ...    ...
 94105  176601698     5365423.0  unknown  white
 94106  150052249     5365424.0     male    NaN
 94107  118744267     5365427.0     male  white
 94108   27940746     5365481.0     male    NaN
 94109    5809868     5365591.0   female    NaN

 [94110 rows x 10 columns],
 'dist_data_year_1':        dist_ind        dist  change_CEO  penalty  YEAR  activity_nr  \
 0             0   25.691161           0   1800.0  2012      2350544
 1             0    4.957644           1      0.0  2001     17934944
 2             0    4.957644           0      0.0  2001     17934944
 3             0    2.128975           0      0.0  2001     17934985
 4             0    6.118079           0      0.0  2001     17935404
 ...         ...         ...         ...      ...   ...          ...
 91686         0   55.109708           0      0.0  2017    342022332
 91687         0  164.290629           0      0.0  2017    342022340
 91688         0    5.020282           1      0.0  2017    342022373
 91689         0  192.651733           0      0.0  2017    342029931
 91690         0    9.622513           0   9959.0  2017    342062387

           DUNSNO  estabid_osha   gender   race
 0       94365780      464480.0     male  white
 1        2241669     1002814.0     male    NaN
 2      119235109     1002814.0     male    NaN
 3      618523153     3548411.0     male    NaN
 4      199299512     4967616.0     male    NaN
 ...          ...           ...      ...    ...
 91686  176601698     5365423.0  unknown  white
 91687  150052249     5365424.0     male    NaN
 91688  118744267     5365427.0     male  white
 91689   27940746     5365481.0     male    NaN
 91690    5809868     5365591.0   female    NaN

 [91691 rows x 10 columns],
 'dist_data_year_2':        dist_ind        dist  change_CEO  penalty  YEAR  activity_nr  \
 0             0   25.691161           0   1800.0  2013      2350544
 1             0    4.957644           1      0.0  2002     17934944
 2             0    4.957644           1      0.0  2002     17934944
 3             0    2.128975           0      0.0  2002     17934985
 4             0    6.118079           0      0.0  2002     17935404
 ...         ...         ...         ...      ...   ...          ...
 89547         0   55.109708           0      0.0  2018    342022332
 89548         0  164.290629           0      0.0  2018    342022340
 89549         0    5.020282           1      0.0  2018    342022373
 89550         0  192.651733           0      0.0  2018    342029931
 89551         0    9.622513           0   9959.0  2018    342062387

           DUNSNO  estabid_osha   gender   race
 0       94365780      464480.0     male  white
 1        2241669     1002814.0     male    NaN
 2      119235109     1002814.0     male    NaN
 3      618523153     3548411.0     male    NaN
 4      199299512     4967616.0     male    NaN
 ...          ...           ...      ...    ...
 89547  176601698     5365423.0  unknown  white
 89548  150052249     5365424.0     male    NaN
 89549  118744267     5365427.0     male  white
 89550   27940746     5365481.0     male    NaN
 89551    5809868     5365591.0   female    NaN

 [89552 rows x 10 columns],
 'dist_data_year_3':        dist_ind        dist  change_CEO  penalty  YEAR  activity_nr  \
 0             0   25.691161           0   1800.0  2014      2350544
 1             0    4.957644           1      0.0  2003     17934944
 2             0    4.957644           1      0.0  2003     17934944
 3             0    2.128975           0      0.0  2003     17934985
 4             0    6.118079           0      0.0  2003     17935404
 ...         ...         ...         ...      ...   ...          ...
 87544         0   55.109708           0      0.0  2019    342022332
 87545         0  164.290629           0      0.0  2019    342022340
 87546         0    5.020282           1      0.0  2019    342022373
 87547         0  192.651733           0      0.0  2019    342029931
 87548         0    9.622513           0   9959.0  2019    342062387

           DUNSNO  estabid_osha   gender   race
 0       94365780      464480.0     male  white
 1        2241669     1002814.0     male    NaN
 2      119235109     1002814.0     male    NaN
 3      618523153     3548411.0     male    NaN
 4      199299512     4967616.0     male    NaN
 ...          ...           ...      ...    ...
 87544  176601698     5365423.0  unknown  white
 87545  150052249     5365424.0     male    NaN
 87546  118744267     5365427.0     male  white
 87547   27940746     5365481.0     male    NaN
 87548    5809868     5365591.0   female    NaN

 [87549 rows x 10 columns],
 'dist_data_year_4':        dist_ind        dist  change_CEO  penalty  YEAR  activity_nr  \
 0             0   25.691161           0   1800.0  2015      2350544
 1             0    4.957644           1      0.0  2004     17934944
 2             0    4.957644           1      0.0  2004     17934944
 3             0    2.128975           0      0.0  2004     17934985
 4             0    6.118079           0      0.0  2004     17935404
 ...         ...         ...         ...      ...   ...          ...
 80174         0  167.159156           0      0.0  2019    341318772
 80175         0  167.572670           0      0.0  2019    341338325
 80176         0   40.352932           0   7000.0  2019    341368496
 80177         0  244.708711           0    120.0  2019    341476653
 80178         0   52.219672           0    100.0  2019    341722403

           DUNSNO  estabid_osha gender   race
 0       94365780      464480.0   male  white
 1        2241669     1002814.0   male    NaN
 2      119235109     1002814.0   male    NaN
 3      618523153     3548411.0   male    NaN
 4      199299512     4967616.0   male    NaN
 ...          ...           ...    ...    ...
 80174   77881282     5301591.0   male    NaN
 80175  968473541     5303430.0   male    NaN
 80176   27757418     5306319.0   male  white
 80177   19302481     5316344.0   male    NaN
 80178   71807358     5339134.0   male    NaN

 [80179 rows x 10 columns],
 'dist_data_year_5':        dist_ind        dist  change_CEO  penalty  YEAR  activity_nr  \
 0             0   25.691161           1   1800.0  2016      2350544
 1             0    4.957644           1      0.0  2005     17934944
 2             0    4.957644           1      0.0  2005     17934944
 3             0    2.128975           0      0.0  2005     17934985
 4             0    6.118079           0      0.0  2005     17935404
 ...         ...         ...         ...      ...   ...          ...
 72167         0   84.449644           0      0.0  2019    340578350
 72168         0  135.241017           0   1800.0  2019    340586767
 72169         0   22.914180           0   2100.0  2019    340637362
 72170         0  168.281611           0    100.0  2019    340637370
 72171         0  117.230690           1   1250.0  2019    340813765

           DUNSNO  estabid_osha gender   race
 0       94365780      464480.0   male  white
 1        2241669     1002814.0   male    NaN
 2      119235109     1002814.0   male    NaN
 3      618523153     3548411.0   male    NaN
 4      199299512     4967616.0   male    NaN
 ...          ...           ...    ...    ...
 72167   59413864     5232731.0   male    NaN
 72168  182508580     5233505.0   male    NaN
 72169  802233072     5238148.0   male    NaN
 72170  944703792     5238149.0   male    NaN
 72171   78519797     5254469.0   male    NaN

 [72172 rows x 10 columns],
 'dist_data_year_6':        dist_ind          dist  change_CEO  penalty  YEAR  activity_nr  \
 0             0  2.569116e+01           1   1800.0  2017      2350544
 1             0  4.957644e+00           1      0.0  2006     17934944
 2             0  4.957644e+00           1      0.0  2006     17934944
 3             0  2.128975e+00           0      0.0  2006     17934985
 4             0  6.118079e+00           0      0.0  2006     17935404
 ...         ...           ...         ...      ...   ...          ...
 64749         0  6.519168e+01           0   3500.0  2019    339534596
 64750         0  1.231139e-12           1   4125.0  2019    339535882
 64751         0  9.271461e+01           0   1550.0  2019    339536948
 64752         0  8.653635e+00           0    800.0  2019    339538704
 64753         0  3.483784e+01           1      0.0  2019    339547648

           DUNSNO  estabid_osha gender   race
 0       94365780      464480.0   male  white
 1        2241669     1002814.0   male    NaN

In [82]:
news_data_dict

{'news_data_year_-7':        news  change_CEO  penalty   gender   race
 0         0           0   1800.0     male  white
 1         0           0    500.0     male    NaN
 2         0           1      0.0     male    NaN
 3         0           0      0.0     male    NaN
 4         0           1      0.0     male  white
 ...     ...         ...      ...      ...    ...
 57613     0           0      0.0  unknown  white
 57614     0           0      0.0     male    NaN
 57615     0           0      0.0     male  white
 57616     0           0      0.0     male    NaN
 57617     0           0   9959.0   female    NaN

 [57618 rows x 5 columns],
 'news_data_year_-6':        news  change_CEO  penalty   gender   race
 0         0           0   1800.0     male  white
 1         0           1      0.0     andy    NaN
 2         0           0    500.0     male    NaN
 3         0           1      0.0     male  white
 4         0           0      0.0     male    NaN
 ...     ...         ...      ...      ...    ...
 62544     0           0      0.0  unknown  white
 62545     0           0      0.0     male    NaN
 62546     0           0      0.0     male  white
 62547     0           0      0.0     male    NaN
 62548     0           0   9959.0   female    NaN

 [62549 rows x 5 columns],
 'news_data_year_-5':        news  change_CEO  penalty   gender   race
 0         0           0   1800.0     male  white
 1         0           1    735.0     male  white
 2         0           0    500.0     male    NaN
 3         0           1    437.5     male  white
 4         0           1      0.0     male  white
 ...     ...         ...      ...      ...    ...
 67839     0           0      0.0  unknown  white
 67840     0           0      0.0     male    NaN
 67841     0           0      0.0     male  white
 67842     0           0      0.0     male    NaN
 67843     0           0   9959.0   female    NaN

 [67844 rows x 5 columns],
 'news_data_year_-4':        news  change_CEO  penalty   gender   race
 0         0           0   1800.0     male  white
 1         0           0    100.0     male  white
 2         0           0    500.0     male    NaN
 3         0           1    522.5     male  white
 4         0           1    735.0     male  white
 ...     ...         ...      ...      ...    ...
 73066     0           0      0.0  unknown  white
 73067     0           0      0.0     male    NaN
 73068     0           0      0.0     male  white
 73069     0           0      0.0     male    NaN
 73070     0           0   9959.0   female    NaN

 [73071 rows x 5 columns],
 'news_data_year_-3':        news  change_CEO  penalty       gender   race
 0         0           0   1800.0         male  white
 1         0           0    100.0         male  white
 2         0           0   1000.0         male    NaN
 3         0           1   2000.0  mostly_male    api
 4         0           0   2000.0  mostly_male    NaN
 ...     ...         ...      ...          ...    ...
 78250     0           0      0.0      unknown  white
 78251     0           0      0.0         male    NaN
 78252     0           0      0.0         male  white
 78253     0           0      0.0         male    NaN
 78254     0           0   9959.0       female    NaN

 [78255 rows x 5 columns],
 'news_data_year_-2':        news  change_CEO  penalty   gender   race
 0         0           0   1800.0     male  white
 1         0           0      0.0     male    NaN
 2         0           0      0.0     male    NaN
 3         0           1      0.0     male    NaN
 4         0           0      0.0     male    NaN
 ...     ...         ...      ...      ...    ...
 84023     0           0      0.0  unknown  white
 84024     0           0      0.0     male    NaN
 84025     0           0      0.0     male  white
 84026     0           0      0.0     male    NaN
 84027     0           0   9959.0   female    NaN

 [84028 rows x 5 columns],
 'news_data_year_-1':        news  change_CEO  penalty   gender   race
 0         0           0   1800.0     male  white
 1         0           0      0.0     male    NaN
 2         0           0      0.0     male    NaN
 3         0           0      0.0     male    NaN
 4         0           0      0.0     male    NaN
 ...     ...         ...      ...      ...    ...
 89113     0           0      0.0  unknown  white
 89114     0           0      0.0     male    NaN
 89115     0           0      0.0     male  white
 89116     0           0      0.0     male    NaN
 89117     0           0   9959.0   female    NaN

 [89118 rows x 5 columns],
 'news_data_year_0':        news  change_CEO  penalty   gender   race
 0         0           0   1800.0     male  white
 1         0           0      0.0     male    NaN
 2         0           0      0.0     male    NaN
 3         0           0      0.0     male    NaN
 4         0           0      0.0     male    NaN
 ...     ...         ...      ...      ...    ...
 94105     0           0      0.0  unknown  white
 94106     0           0      0.0     male    NaN
 94107     0           0      0.0     male  white
 94108     0           0      0.0     male    NaN
 94109     0           0   9959.0   female    NaN

 [94110 rows x 5 columns],
 'news_data_year_1':        news  change_CEO  penalty   gender   race
 0         0           0   1800.0     male  white
 1         0           1      0.0     male    NaN
 2         0           0      0.0     male    NaN
 3         0           0      0.0     male    NaN
 4         0           0      0.0     male    NaN
 ...     ...         ...      ...      ...    ...
 91686     0           0      0.0  unknown  white
 91687     0           0      0.0     male    NaN
 91688     0           1      0.0     male  white
 91689     0           0      0.0     male    NaN
 91690     0           0   9959.0   female    NaN

 [91691 rows x 5 columns],
 'news_data_year_2':        news  change_CEO  penalty   gender   race
 0         0           0   1800.0     male  white
 1         0           1      0.0     male    NaN
 2         0           1      0.0     male    NaN
 3         0           0      0.0     male    NaN
 4         0           0      0.0     male    NaN
 ...     ...         ...      ...      ...    ...
 89547     0           0      0.0  unknown  white
 89548     0           0      0.0     male    NaN
 89549     0           1      0.0     male  white
 89550     0           0      0.0     male    NaN
 89551     0           0   9959.0   female    NaN

 [89552 rows x 5 columns],
 'news_data_year_3':        news  change_CEO  penalty   gender   race
 0         0           0   1800.0     male  white
 1         0           1      0.0     male    NaN
 2         0           1      0.0     male    NaN
 3         0           0      0.0     male    NaN
 4         0           0      0.0     male    NaN
 ...     ...         ...      ...      ...    ...
 87544     0           0      0.0  unknown  white
 87545     0           0      0.0     male    NaN
 87546     0           1      0.0     male  white
 87547     0           0      0.0     male    NaN
 87548     0           0   9959.0   female    NaN

 [87549 rows x 5 columns],
 'news_data_year_4':        news  change_CEO  penalty gender   race
 0         0           0   1800.0   male  white
 1         0           1      0.0   male    NaN
 2         0           1      0.0   male    NaN
 3         0           0      0.0   male    NaN
 4         0           0      0.0   male    NaN
 ...     ...         ...      ...    ...    ...
 80174     0           0      0.0   male    NaN
 80175     0           0      0.0   male    NaN
 80176     0           0   7000.0   male  white
 80177     0           0    120.0   male    NaN
 80178     0           0    100.0   male    NaN

 [80179 rows x 5 columns],
 'news_data_year_5':        news  change_CEO  penalty gender   race
 0         0           1   1800.0   male  white
 1         0           1      0.0   male    NaN
 2         0           1      0.0   male    NaN
 3         0           0      0.0   male    NaN
 4         0           0      0.0   male    NaN
 ...     ...         ...      ...    ...    ...
 72167     0           0      0.0   male    NaN
 72168     0           0   1800.0   male    NaN
 72169     0           0   2100.0   male    NaN
 72170     0           0    100.0   male    NaN
 72171     0           1   1250.0   male    NaN

 [72172 rows x 5 columns],
 'news_data_year_6':        news  change_CEO  penalty gender   race
 0         0           1   1800.0   male  white
 1         0           1      0.0   male    NaN
 2         0           1      0.0   male    NaN
 3         0           0      0.0   male    NaN
 4         0           0      0.0   male    NaN
 ...     ...         ...      ...    ...    ...
 64749     0           0   3500.0   male    NaN
 64750     0           1   4125.0   male    NaN
 64751     0           0   1550.0   male    NaN
 64752     0           0    800.0   male  white
 64753     0           1      0.0   male    NaN

 [64754 rows x 5 columns],
 'news_data_year_7':        news  change_CEO  penalty   gender   race
 0         0           1   1800.0     male  white
 1         0           1      0.0     male    NaN
 2         0           1      0.0     male    NaN
 3         0           0      0.0     male    NaN
 4         0           0      0.0     male    NaN
 ...     ...         ...      ...      ...    ...
 57838     0           1    700.0     male  white
 57839     0           0    700.0  unknown    NaN
 57840     0           0      0.0     male  white
 57841     0           0      0.0   female  white
 57842     0           1      0.0     male    NaN

 [57843 rows x 5 columns]}

In [92]:
all_osha.to_csv('all osha (G+R)')

In [1]:
1

1